<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Form</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="slider.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="app">
    <div class="header" :class="{ cryptoHeader:isCryptoMode() }">
      <h1>LexAdiutor 2.0</h1>

      <label class="switch">
        <input type="checkbox" v-model="crypto_mode" id="crypto_mode_switch" style="display: none">
        <span class="slider round"></span>
      </label>

      <label for="crypto_mode_switch">CRYPTO MODE</label>
    </div>

    <div class="main" :class="{ cryptoMain:isCryptoMode() }">
      <div class="left">
        <div class="history" :class="{ cryptoLeft:isCryptoMode() }">
          <div class="old-chat">Old chat</div>
          <div class="old-chat">Old chat</div>
          <div class="old-chat">Old chat</div>
          <div class="old-chat">Old chat</div>
        </div>
      </div>

      <div class="right">
        <div class="textbox" :class="{ cryptoTextBox:isCryptoMode()}" ref="scrollBox">
          <div v-for="mes of prev_messages" class="message" :class="mes.sender">
            <div class="message-content">
              {{mes.content}}
            </div>
          </div>
        </div>
        <div class="prompt" :class="{ cryptoPrompt:isCryptoMode() }">
          <button @click="clear()"><img :src="getImg('bin')" alt="Clear"></button>
          <input type="text" placeholder="Write message" v-model="message" @keyup.enter="send()">
          <button @click="send()"><img :src="getImg('send')" alt="Send"></button>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

    <script>
      const appData = {
        crypto_mode: false,
        chat_history: [],
        message: "",
        prev_messages: [],
      }
      const ItemsComponent = {
        template:
          ` 
          <div class="message">
            <template v-for="item of items">
              <input type="checkbox" :id="item.text"><label :for="item.text">{{item.text}}</label>
            </template>  
          </div>
        `,
        data() {
          return appData
        }
      };
      const app = Vue.createApp({
        data() {
          return appData
        },
        components: {
          "items-component": ItemsComponent,
        },
        methods: {
          scrollToBottom() {
            this.$nextTick(() => {
              const scrollBox = this.$refs.scrollBox;
              scrollBox.scrollTop = scrollBox.scrollHeight; // Scroll to bottom
            });
          },
          send() {
            this.prev_messages.push({ sender: "user", content: this.message });
            this.prev_messages.push({ sender: "model", content: "Waiting for model response... It may take some time" });
            this.scrollToBottom();

            fetch("http://127.0.0.1:8000/bartek", { //Tutaj podmień adres API na ten serwerowy
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({ content: this.message })
            })
              .then(response => response.json())
              .then(data => {
                console.log(data.content);
                this.prev_messages.pop();
                this.prev_messages.push({ sender: "model", content: data.content });
                this.scrollToBottom();
              })
              .catch((error) => {
                console.error("Error:", error);
              });
            this.message = "";
          },
          clear() {
            this.prev_messages = [];
            this.scrollToBottom();
          },
          isCryptoMode() {
            return this.crypto_mode
          },
          getImg(name) {
            if (this.isCryptoMode()) {
              if (name == "send") return `http://127.0.0.1:5500/gfx/send-white.png`
              return `http://127.0.0.1:5500/gfx/recycle-bin-white.png`
            }
            if (name == "bin") return `http://127.0.0.1:5500/gfx/recycle-bin.png`
            return `http://127.0.0.1:5500/gfx/send.png`
          }
        }
      }).mount("#app");
    </script>
</body>

</html>